/*
THIS FILE IS NOT NEEDED!

This file only creates a simple content layout
for the demo, it is not a part of the navbar.
*/

html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #161618;
}

h1, h2, h3 {
  color: #444;
}

#main-content {
  width: 100%;
  padding-top: 1rem;
  margin: 0 auto;
}

.blue-bg {
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  margin-top: 6rem;
  font-size: 2rem;
  text-align: center;
  align-items: center;
}

.blue-bg > h2 {
  color: #fff;
}

.logo-image {
  width: 300px;
  margin-top: 50px
}

.main-article {
  padding: 0 1rem;
  margin: auto;
  text-align: -webkit-center;
}

article > p {
  margin-top: 1rem;
}

.sub-title {
  font-size: 30px;
  text-align: center;
  color: white;
  margin-top: 50px;
}

.info-section {
  max-width: 1360px;
  display: flex;
}

.info-card {
  max-width: 30%;
  border: 2px solid #54239D;
  padding: 20px;
  border-radius: 5px;
  margin: 20px;
  text-align: center;
}

.image-section {
  width: 100%;
}

.info-image {
  width: 100px;
}

.info-title {
  color: white;
  margin-bottom: 10px;
  margin-top: 10px;
}

.info-text {
  font-size: 18px;
  color: white;
}

.pentagon-color {
  color: #54239D;
  font-weight: bold;
}

.explanation {
  max-width: 1360px;
  border: 2px solid #54239D;
  border-radius: 100px;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.explanation-section {
  width: 70%;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.explanation-item {
  width: 100%;
}

.explanation-image {
  width: 85px;
  margin-bottom: 25px;
}

.explanation-title {
  color: white;
}

.audit {
  max-width: 1360px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.audit-text {
  color: white;
  font-size: 30px;
}

.footer-basic {
  background-color:#1a1a1d;
  color: white;
}

.footer-content {
  display: flex;
  justify-content: center;
}

.footer-basic .social {
  text-align:center;
  padding: 1rem 1rem;
  width: 300px;
  display: flex;
  justify-content: space-between;
}